body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a,a:hover,a:focus,a:visited,a:active { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/*html{width:100%;}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body{background-image:url("../images/index_bg3.png");background-image:none;background-position: left top;background-size: cover;background-color: #f8f8f8;background-color: #EDFFFF;background-repeat: no-repeat;position: relative;}
.index_bg{width: 100%;position: absolute;z-index: 0;left: 0;top: 0;}
.index_wrapper{width: 1100px;margin: 0 auto;    position: relative;}
@font-face {
	/*font-family: 'hwxk';
	src: url('../font/hwxk.ttf');
	src: url('../font/hwxk.ttf') format('embedded-opentype'),
	url('../font/hwxk.ttf') format('woff'),
	url('../font/hwxk.ttf') format('truetype'),
	url('../font/hwxk.ttf') format('svg');
	font-weight: normal;
	font-style: normal;*/
}
.head_wrapper{padding-top: 1em;margin-bottom: 2rem\9;margin-bottom: 2rem;}
/*school_logo_wrapper*/
.school_logo_wrapper{margin-top: 1em;}
/*.school_logo_wrapper .school_logo{width: 84px;height: 84px;margin-right: 15px;}*/
.school_logo_wrapper .school_logo{height: 100px;margin-right: 15px;}
.school_logo_wrapper .school_name{font-size: 20px;font-weight: bold;}
.school_logo_wrapper .school_name_second{font-size: 12px;text-transform:uppercase;margin: 2px 0;/*font-family: "qingyuan";*/font-weight: bold;}
.school_logo_wrapper .school_name_tips{}
/*head_right_wrapper*/
.head_right_wrapper{color: #0b4782;margin-top: 0em;}
.head_right_wrapper .right_text_wrapper{color: #0b4782;font-size: 18px;font-weight: bold;}
.head_right_wrapper .right_text_wrapper .big_font{font-size: 30px;/*color:#fff;*/font-family:hwxk;/*text-shadow: 0 0 3px #0b4782;*/}
.head_right_wrapper .right_text_wrapper_2{font-size: 28px;font-weight: bold;}
.head_right_wrapper .right_text_wrapper_3{font-size: 12px;}
.head_right_wrapper .right_text_wrapper_4{font-size: 14px;}
/*search_wrapper*/
.search_wrapper{/*background: #fff;border-color: #CCDDE4;border-width: 3px;border-style: solid;border-top: none;border-bottom-width: 4px;*/padding: 10px;border-radius: 0 0 5px 5px;display: flex;}
.search_wrapper .search_text{color: #0b4782;line-height: 34px;margin: 0 1em;}
.search_wrapper .search_input{width: 200px;display: inline;margin-right: 20px;background: rgba(255,255,255,0.5);float: left\9;}
.search_wrapper .search_btn{display: flex;justify-items: center;align-items: center;}
.search_wrapper .search_btn .search_img{width: 20px;display: block;margin: 0 auto;}
/*nav_fixed_wrapper*/.nav_fixed_wrapper{margin-top: 0em;margin-top: 2em\9;}
.nav_wrapper{
	background: -webkit-linear-gradient(bottom,#0f72ae 0%,#1174af 25%, #0c82bf 50%, #0c8fd0 75%, #03a6ee 100%);
	background: -webkit-linear-gradient(bottom,#0f72ae 0%,#1174af 25%, #0c82bf 50%, #0c8fd0 75%, #03a6ee 100%);
	background: -o-linear-gradient(bottom,#0f72ae 0%,#1174af 25%, #0c82bf 50%, #0c8fd0 75%, #03a6ee 100%);
	background: -moz-linear-gradient(bottom,#0f72ae 0%,#1174af 25%, #0c82bf 50%, #0c8fd0 75%, #03a6ee 100%);
	background: linear-gradient(bottom,#0f72ae 0%,#1174af 25%, #0c82bf 50%, #0c8fd0 75%, #03a6ee 100%);
	background-color:#03a6ee;
	border-radius: 5px 5px 0 0;border: 2px solid #1095CD;border-bottom-color: #033F81;
	position:relative;
	}
.nav_bg_img{position:absolute;z-index:0;width:100%;height:100%;display: none;display: block\9;}
.nav_wrapper .nav_ul{display: flex;}
.nav_wrapper .nav_ul .nav_ul_li{flex: 1;padding: 10px 0;position: relative;transition: all 0.5s linear;width:12%\9;float:left\9;}
.nav_wrapper .nav_ul .nav_ul_li:hover{background: #fff;}
.nav_wrapper .nav_ul .nav_ul_li:hover a:before{display: none;}
.nav_wrapper .nav_ul .nav_ul_li:hover a{color: #0e8cc9;}
.nav_wrapper .nav_ul .nav_ul_li a{display: block;color: #fff;padding: 0 0px;text-align: center;position: relative;outline: none;}
.nav_wrapper .nav_ul .nav_ul_li a .nav_name{display: block;font-size: 16px;text-shadow: 1px 2px 1px #565656;}
.nav_wrapper .nav_ul .nav_ul_li a .nav_tips{display: block;font-size: 12px;display: none;}
.nav_wrapper .nav_ul .nav_ul_li:last-child a:before{display: none !important;}
/*.nav_wrapper .nav_ul .nav_ul_li a:before,*/
.nav_wrapper .nav_ul .nav_ul_li a span.line{content: '';width: 1px;height: 30px;position: absolute;right: 0;top:-4px;top:-2px\9;background: -webkit-linear-gradient(bottom,#079ce1 0%,rgba(255,255,255,0.6) 50%, #079ce1 100%);background: -webkit-linear-gradient(bottom,#079ce1 0%, rgba(255,255,255,0.6) 50%, #079ce1 100%);background: -o-linear-gradient(bottom,#079ce1 0%, rgba(255,255,255,0.6) 50%, #079ce1 100%);background: -moz-linear-gradient(bottom,#079ce1 0%, rgba(255,255,255,0.6) 50%, #079ce1 100%);background: linear-gradient(bottom,#079ce1 0%, rgba(255,255,255,0.6) 50%, #079ce1 100%);background: #fff\9;filter: "alpha(opacity=57)";filter: alpha(opacity=57);zoom: 1;}

/*footer_wrapper*/.footer_wrapper{ border-top: 3px solid #2a9cd8;padding: 15px 0;text-align: center;color: #0b4782;margin-top: 1em;line-height: 30px;}
.footer_wrapper p{}
.footer_wrapper .friendship_link{color: #0b4782;margin: 0 20px;}

#floatDiv{
	background:#fff;
	box-shadow: 0 0 4px #808080;
	border-radius: 8px;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%\9}.col-xs-11{width:91.66666667%\9}.col-xs-10{width:83.33333333%\9}.col-xs-9{width:75%\9}.col-xs-8{width:66.66666667%\9}.col-xs-7{width:58.33333333%\9}.col-xs-6{width:50%\9}.col-xs-5{width:41.66666667%\9}.col-xs-4{width:33.33333333%\9}.col-xs-3{width:25%\9}.col-xs-2{width:16.66666667%\9}.col-xs-1{width:8.33333333%\9}.col-xs-pull-12{right:100%\9}.col-xs-pull-11{right:91.66666667%\9}.col-xs-pull-10{right:83.33333333%\9}.col-xs-pull-9{right:75%\9}.col-xs-pull-8{right:66.66666667%\9}.col-xs-pull-7{right:58.33333333%\9}.col-xs-pull-6{right:50%\9}.col-xs-pull-5{right:41.66666667%\9}.col-xs-pull-4{right:33.33333333%\9}.col-xs-pull-3{right:25%\9}.col-xs-pull-2{right:16.66666667%\9}.col-xs-pull-1{right:8.33333333%\9}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%\9}.col-xs-push-11{left:91.66666667%\9}.col-xs-push-10{left:83.33333333%\9}.col-xs-push-9{left:75%\9}.col-xs-push-8{left:66.66666667%\9}.col-xs-push-7{left:58.33333333%\9}.col-xs-push-6{left:50%\9}.col-xs-push-5{left:41.66666667%\9}.col-xs-push-4{left:33.33333333%\9}.col-xs-push-3{left:25%\9}.col-xs-push-2{left:16.66666667%\9}.col-xs-push-1{left:8.33333333%\9}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%\9}.col-xs-offset-11{margin-left:91.66666667%\9}.col-xs-offset-10{margin-left:83.33333333%\9}.col-xs-offset-9{margin-left:75%\9}.col-xs-offset-8{margin-left:66.66666667%\9}.col-xs-offset-7{margin-left:58.33333333%\9}.col-xs-offset-6{margin-left:50%\9}.col-xs-offset-5{margin-left:41.66666667%\9}.col-xs-offset-4{margin-left:33.33333333%\9}.col-xs-offset-3{margin-left:25%\9}.col-xs-offset-2{margin-left:16.66666667%\9}.col-xs-offset-1{margin-left:8.33333333%\9}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.col-sm-12{width:100%\9}.col-sm-11{width:91.66666667%\9}.col-sm-10{width:83.33333333%\9}.col-sm-9{width:75%\9}.col-sm-8{width:66.66666667%\9}.col-sm-7{width:58.33333333%\9}.col-sm-6{width:50%\9}.col-sm-5{width:41.66666667%\9}.col-sm-4{width:33.33333333%\9}.col-sm-3{width:25%\9}.col-sm-2{width:16.66666667%\9}.col-sm-1{width:8.33333333%\9}.col-sm-pull-12{right:100%\9}.col-sm-pull-11{right:91.66666667%\9}.col-sm-pull-10{right:83.33333333%\9}.col-sm-pull-9{right:75%\9}.col-sm-pull-8{right:66.66666667%\9}.col-sm-pull-7{right:58.33333333%\9}.col-sm-pull-6{right:50%\9}.col-sm-pull-5{right:41.66666667%\9}.col-sm-pull-4{right:33.33333333%\9}.col-sm-pull-3{right:25%\9}.col-sm-pull-2{right:16.66666667%\9}.col-sm-pull-1{right:8.33333333%\9}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%\9}.col-sm-push-11{left:91.66666667%\9}.col-sm-push-10{left:83.33333333%\9}.col-sm-push-9{left:75%\9}.col-sm-push-8{left:66.66666667%\9}.col-sm-push-7{left:58.33333333%\9}.col-sm-push-6{left:50%\9}.col-sm-push-5{left:41.66666667%\9}.col-sm-push-4{left:33.33333333%\9}.col-sm-push-3{left:25%\9}.col-sm-push-2{left:16.66666667%\9}.col-sm-push-1{left:8.33333333%\9}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%\9}.col-sm-offset-11{margin-left:91.66666667%\9}.col-sm-offset-10{margin-left:83.33333333%\9}.col-sm-offset-9{margin-left:75%\9}.col-sm-offset-8{margin-left:66.66666667%\9}.col-sm-offset-7{margin-left:58.33333333%\9}.col-sm-offset-6{margin-left:50%\9}.col-sm-offset-5{margin-left:41.66666667%\9}.col-sm-offset-4{margin-left:33.33333333%\9}.col-sm-offset-3{margin-left:25%\9}.col-sm-offset-2{margin-left:16.66666667%\9}.col-sm-offset-1{margin-left:8.33333333%\9}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.col-md-12{width:100%\9}.col-md-11{width:91.66666667%\9}.col-md-10{width:83.33333333%\9}.col-md-9{width:75%\9}.col-md-8{width:66.66666667%\9}.col-md-7{width:58.33333333%\9}.col-md-6{width:50%\9}.col-md-5{width:41.66666667%\9}.col-md-4{width:33.33333333%\9}.col-md-3{width:25%\9}.col-md-2{width:16.66666667%\9}.col-md-1{width:8.33333333%\9}.col-md-pull-12{right:100%\9}.col-md-pull-11{right:91.66666667%\9}.col-md-pull-10{right:83.33333333%\9}.col-md-pull-9{right:75%\9}.col-md-pull-8{right:66.66666667%\9}.col-md-pull-7{right:58.33333333%\9}.col-md-pull-6{right:50%\9}.col-md-pull-5{right:41.66666667%\9}.col-md-pull-4{right:33.33333333%\9}.col-md-pull-3{right:25%\9}.col-md-pull-2{right:16.66666667%\9}.col-md-pull-1{right:8.33333333%\9}.col-md-pull-0{right:auto}.col-md-push-12{left:100%\9}.col-md-push-11{left:91.66666667%\9}.col-md-push-10{left:83.33333333%\9}.col-md-push-9{left:75%\9}.col-md-push-8{left:66.66666667%\9}.col-md-push-7{left:58.33333333%\9}.col-md-push-6{left:50%\9}.col-md-push-5{left:41.66666667%\9}.col-md-push-4{left:33.33333333%\9}.col-md-push-3{left:25%\9}.col-md-push-2{left:16.66666667%\9}.col-md-push-1{left:8.33333333%\9}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%\9}.col-md-offset-11{margin-left:91.66666667%\9}.col-md-offset-10{margin-left:83.33333333%\9}.col-md-offset-9{margin-left:75%\9}.col-md-offset-8{margin-left:66.66666667%\9}.col-md-offset-7{margin-left:58.33333333%\9}.col-md-offset-6{margin-left:50%\9}.col-md-offset-5{margin-left:41.66666667%\9}.col-md-offset-4{margin-left:33.33333333%\9}.col-md-offset-3{margin-left:25%\9}.col-md-offset-2{margin-left:16.66666667%\9}.col-md-offset-1{margin-left:8.33333333%\9}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%\9}.col-lg-11{width:91.66666667%\9}.col-lg-10{width:83.33333333%\9}.col-lg-9{width:75%\9}.col-lg-8{width:66.66666667%\9}.col-lg-7{width:58.33333333%\9}.col-lg-6{width:50%\9}.col-lg-5{width:41.66666667%\9}.col-lg-4{width:33.33333333%\9}.col-lg-3{width:25%\9}.col-lg-2{width:16.66666667%\9}.col-lg-1{width:8.33333333%\9}.col-lg-pull-12{right:100%\9}.col-lg-pull-11{right:91.66666667%\9}.col-lg-pull-10{right:83.33333333%\9}.col-lg-pull-9{right:75%\9}.col-lg-pull-8{right:66.66666667%\9}.col-lg-pull-7{right:58.33333333%\9}.col-lg-pull-6{right:50%\9}.col-lg-pull-5{right:41.66666667%\9}.col-lg-pull-4{right:33.33333333%\9}.col-lg-pull-3{right:25%\9}.col-lg-pull-2{right:16.66666667%\9}.col-lg-pull-1{right:8.33333333%\9}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%\9}.col-lg-push-11{left:91.66666667%\9}.col-lg-push-10{left:83.33333333%\9}.col-lg-push-9{left:75%\9}.col-lg-push-8{left:66.66666667%\9}.col-lg-push-7{left:58.33333333%\9}.col-lg-push-6{left:50%\9}.col-lg-push-5{left:41.66666667%\9}.col-lg-push-4{left:33.33333333%\9}.col-lg-push-3{left:25%\9}.col-lg-push-2{left:16.66666667%\9}.col-lg-push-1{left:8.33333333%\9}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%\9}.col-lg-offset-11{margin-left:91.66666667%\9}.col-lg-offset-10{margin-left:83.33333333%\9}.col-lg-offset-9{margin-left:75%\9}.col-lg-offset-8{margin-left:66.66666667%\9}.col-lg-offset-7{margin-left:58.33333333%\9}.col-lg-offset-6{margin-left:50%\9}.col-lg-offset-5{margin-left:41.66666667%\9}.col-lg-offset-4{margin-left:33.33333333%\9}.col-lg-offset-3{margin-left:25%\9}.col-lg-offset-2{margin-left:16.66666667%\9}
            .col-lg-offset-1{margin-left:8.33333333%\9}
@media (min-width:1200px){
	.index_wrapper {width: 1200px}  
}
@media (min-width:992px) and (max-width:1199px){
	.index_wrapper {width: 900px}  
}
@media (min-width:768px) and (max-width:991px){
	.index_wrapper{width: 100%;}
	.index_banner_wrapper{margin:1rem;}
	.main_part_4_wrapepr{width: 95%;margin: 0 auto;}
	.school_logo_wrapper .school_logo{width: 95%;display: block;height: auto;margin: 0 auto;float: none !important;}
	.head_right_wrapper{width:100%;text-align: right;padding: 0 15px 15px;}
	.search_wrapper .search_input{width: 400px;margin-left: 10%;}
	.nav_wrapper .nav_ul .nav_ul_li a .nav_name{font-size: 12px;}
	.nav_wrapper .nav_ul .nav_ul_li a::before{height: 20px;}
	.main_part_2_wrapepr,.main_part_3_wrapepr{flex-wrap: wrap;}
	#modalDiv .modal-dialog{width: 80%;left: 10%;top: 10%;}
	#modalSpan{font-size:14px;}
	.footer_link{display: flex;flex-wrap: wrap;}
	.footer_wrapper{width: 92%;margin: 1rem auto;}
	#_ideConac{position: relative !important;}
}
@media (max-width:767px){
	.index_wrapper{width: 100%;}
	.index_banner_wrapper{margin:1rem;}
	.main_part_4_wrapepr{width: 95%;margin: 0 auto;}
	.school_logo_wrapper .school_logo{width: 95%;display: block;height: auto;margin: 0 auto;float: none !important;}
	.head_right_wrapper{width:100%;text-align: right;padding: 0 15px 15px;}
	.search_wrapper .search_input{width: 400px;margin-left: 10%;}
	.nav_wrapper .nav_ul .nav_ul_li a .nav_name{font-size: 12px;}
	.nav_wrapper .nav_ul .nav_ul_li a::before{height: 20px;}
	.main_part_2_wrapepr,.main_part_3_wrapepr{flex-wrap: wrap;}
	#modalDiv .modal-dialog{width: 80%;left: 10%;top: 10%;}
	#modalSpan{font-size:14px;}
	.footer_link{display: flex;flex-wrap: wrap;}
	.width_100{
		width:100%;
	}
	.footer_wrapper{width: 92%;margin: 1rem auto;}
	#_ideConac{position: relative !important;}
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
		float:left\9;
	}
}




